.bicycles-list {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.article-title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 40px;
}

.article-span {
  color: var(--primary-1);
}
.article-bicycles {
  display: flex;
  gap: 32px;
  padding: 8px;
  overflow-x: auto;
}

.article-bicycles::-webkit-scrollbar {
  height: 12px;
}

.article-bicycles::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--gray-2);
}

.article-bicycles::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-4);
}

.article-bicycles img {
  border-radius: 4px;
  object-fit: cover;
}

.article-li {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-width: 200px;
}

.article-li h3 {
  font-size: 32px;
  position: relative;
  margin-left: 20px;
  transition: 0.3s;
}

.article-li h3::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background-color: var(--primary-1);
  position: absolute;
  bottom: 16px;
  left: -16px;
  transition: 0.3s;
}

.article-li h3:hover::after {
  width: 24px;
}

.article-li h3:hover {
  padding-left: 12px;
}

.article-li span {
  font-size: 18px;
  color: var(--gray-4);
  margin-left: 20px;
}

@media (max-width: 800px) {
  .article-title {
    padding: 32px;
    font-size: 32px;
  }

  .article-li h3 {
    font-size: 24px;
  }
  .article-li span {
    font-size: 16px;
  }

  .article-li {
    gap: 8px;
  }
}

@media (max-width: 500px) {
  .article-title {
    padding: 16px;
    font-size: 24px;
  }
}
