.contact-article-bg {
  background: linear-gradient(
    to bottom,
    var(--black-2) 50%,
    var(--white-1) 50%
  );
}

.contact-article-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 24px;
}

.contact-article-content {
  background: var(--black-1) url(../../img/dec/bottom-left.svg) no-repeat bottom
    20px left 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-article-content p,
a {
  color: var(--gray-1);
  line-height: 24px;
}

.contact-article-content h2 {
  color: var(--white-0);
  font-size: 18px;
}

.contact-article-adress {
  padding-left: 28px;
  background: url(/img/icones/local.svg) no-repeat;
}

.contact-article-email {
  padding-left: 28px;
  background: url(/img/icones/email.svg) no-repeat;
}

.contact-article-phone {
  padding-left: 28px;
  background: url(/img/icones/telefone.svg) no-repeat;
}

.contact-article-email a:hover,
.contact-article-phone a:hover {
  color: var(--white-0);
}

.contact-article-medias {
  display: flex;
  gap: 24px;
  margin-left: 28px;
}

.contact-form-bg {
  background: var(--white-0) url(../../img/dec/bottom-right.svg) no-repeat
    bottom 20px right 20px;
  border-radius: 0 4px 4px 0;
}

.contact-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form-container input,
.contact-form-container textarea {
  padding: 12px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--white-1);
  border: 1px solid var(--white-2);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
  outline: none;
  border-color: var(--primary-1);
  background: var(--white-0);
  box-shadow: 0 0 0 2px #fea;
}

.form-email {
  grid-column: 1/-1;
}

.form-text {
  grid-column: 1/-1;
}

.contact-form-container label {
  display: block;
  margin-bottom: 8px;
}

.contact-form-container button {
  display: block;
}

.form-button button {
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  background: linear-gradient(var(--primary-1), var(--primary-2));
  color: var(--primary-5);
  font-weight: bolder;
  padding: 16px 36px;
  border-radius: 4px;
  align-items: center;
}

.form-button button:hover {
  background: linear-gradient(var(--primary-2), var(--primary-3));
}

@media (max-width: 900px) {
  .contact-article-container {
    grid-template-columns: 1fr;
  }

  .contact-article-content {
    background: var(--black-1);
    border-radius: 4px 4px 0px 0px;
  }

  .contact-form-bg {
    border-radius: 0px 0px 4px 4px;
  }
}

@media (max-width: 500px) {
  .contact-form-container {
    grid-template-columns: 1fr;
    padding: 24px;
  }

  .contact-article-content {
    padding: 40px;
  }

  .form-button button {
    font-size: 14px;
    padding: 16px;
  }

  .contact-form-bg {
    background: var(--white-0);
  }

  .contact-form-container input,
  .contact-form-container textarea {
    font-size: 16px;
  }
}
