.header {
  background-color: var(--black-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

.nav {
  color: var(--white-0);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 18px;
}

.nav a {
  color: var(--white-0);
}

@media (max-width: 800px) {
  .nav {
    gap: 16px;
  }
  .nav a {
    background-color: var(--black-2);
    padding: 16px;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 24px 16px;
  }
  .nav {
    gap: 8px;
    font-size: 16px;
  }
  .nav a {
    padding: 8px;
  }
}
