.header-bg {
  background-color: var(--black-1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header-nav a {
  color: var(--white-0);
  padding: 16px;
  display: inline-block;
  font-size: 18px;
}

@media (max-width: 900px) {
  .header-nav a {
    background-color: var(--black-2);
    padding: 10px;
    border-radius: 4px;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 24px 16px;
  }
  .header-nav {
    gap: 8px;
    font-size: 16px;
  }
  .header-nav a {
    padding: 8px;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    gap: 24px;
    justify-items: center;
  }

  .header-nav {
    justify-content: center;
  }
}
