:root {
  --white-0: #ffffff;
  --white-1: #f7f7f7;
  --white-2: #ededed;
  --gray-0: #dedede;
  --gray-1: #cccccc;
  --gray-2: #b2b2b2;
  --gray-3: #9c9c9c;
  --gray-4: #717171;
  --gray-5: #595959;
  --gray-6: #404040;
  --gray-7: #2e2e2e;
  --black-1: #000000;
  --black-2: #111111;
  --primary-1: #ffbb00;
  --primary-2: #e4a30b;
  --primary-3: #a66f00;
  --primary-4: #664400;
  --primary-5: #332200;
}
